################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.Interface/obj
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.NetCore3.1Demo/obj
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.NetCore3.1Demo/.vs/Center.NetCore3.1Demo/v16
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.IOCDI.Framework/obj
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.Service/obj
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.Web/bin/Debug/netcoreapp3.1
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.Web/obj
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.Web/log
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.NetCore3.1Demo/.vs/Center.NetCore3.1Demo/DesignTimeBuild
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.Web/.vs/Center.Web/v16
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/.vs/Center.Web
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.Web/bin/Release/netcoreapp3.1
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.Web/Properties/PublishProfiles
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.Interface/bin/Debug/netcoreapp3.1
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.Service/bin/Debug/netcoreapp3.1
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.EntityFrameworkCore31.Model/bin/Debug/netcoreapp3.1
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.EntityFrameworkCore31.Model/obj
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.IOCDI.Framework/bin/Debug/netcoreapp3.1
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.EntityFrameworkCore31.Model
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Data.EFCCore31/bin/Debug/netcoreapp3.1
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Data.EFCCore31/obj
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.Web.Authentication/bin/Debug/netcoreapp3.1
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.Web.Authentication/obj
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.WebAPI/bin/Debug/netcoreapp3.1
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.WebAPI/obj
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.WebAPI/log
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.MicroServiceGateway/bin/Debug/netcoreapp3.1
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.MicroServiceGateway/obj
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.Web.AuthDemo/bin/Debug/netcoreapp3.1
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.Web.AuthDemo/obj
/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.Web.AuthDemo/wwwroot/lib
