################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/2020.ZHAOXI.NetCore/zhaoxi.AspNetCore31/Center.Interface/obj
